body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #FF2956;
  color: white;
}

.songCss {
 margin: 0% 25%;
 color: white;
}

h1 {
  text-align: center;
}

.position {
  font-size: 20px;
}

.songName {
  font-weight: normal;
}
